<div class="row bg-warning p-3 text-light">
    <div class="col-4">
        <h2><i class="fa-solid fa-hat-cowboy me-2"></i>food delivery</h2>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet possimus
            eligendi, ut labore minima accusamus consectetur provident, aperiam ex inventore maxime? Voluptates quisquam
            tempore harum unde. Omnis, nisi? Officia, doloribus.</p>
    </div>
    <div class="col-8">
        <div>
            <h2>territtory</h2>
            <input type="text" placeholder="enter email" class="form-control w-75 d-inline me-3">
            <button class="btn btn-success">send</button>
        </div>
        <div class="row">
            <div class="col d-flex flex-column">
                <h5>pages</h5>
                <a href="">home</a>
                <a href="">contact</a>
                <a href="">about</a>
                <a href="">recipe</a>
            </div>
            <div class="col d-flex flex-column">
                <h5>security</h5>
                <a href="">privacy & polivy</a>
                <a href="">terms &condition</a>
            </div>
            <div class="col d-flex flex-column">
                <h5>social media</h5>
                <a href="">youtube</a>
                <a href="">facebook</a>
                <a href="">instagram</a>
            </div>
        </div>
    </div>
</div>