<app-header></app-header>
<div class="row cotain-fluid p-5 bg-warning" style="height: 400px;width: 100vw;">
    <div class="col">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <div>
                <h2 class="text-primary ">Food Order</h2>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero aut
                    quas
                    reiciendis obcaecati laboriosam nostrum magnam sit inventore id omnis! Quaerat quasi ab dignissimos
                    impedit
                    non minus aperiam ad eaque!</p>
                <button class="btn btn-primary px-5 btn-1st">explore</button>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://static.vecteezy.com/system/resources/previews/028/882/831/non_2x/pizza-pizza-transparent-pizza-ai-generated-free-png.png "
                class="img-cover" style="height: 350px;">
        </div>
    </div>
</div>


<div class="my-5 p-5 ">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-warning">Popule Recipe Of This Week</h1>
    </div>
    <div class="row">

        <div class="col  p-4">
            <div class="card" style="width: 100%;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUkFl4-e90gihmLEM7TZZ-LTbwkWQ47VaLMQ&s"
                    class="card-img-top" style="height: 350px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">biryani</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, corporis
                        sunt? Magnam quisquam eveniet quod ex nesciunt sapiente ut expedita explicabo repellendus,
                        excepturi, veritatis aliquid asperiores enim exercitationem quis debitis.</p>
                </div>
            </div>
        </div>

        <div class="col  p-4">
            <div class="card" style="width: 100%;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS90SJkP5CnH4ffBfHv3xiPhJnFRIv9_M5OAA&s"
                    class="card-img-top" style="height: 350px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">manthi</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, corporis
                        sunt? Magnam quisquam eveniet quod ex nesciunt sapiente ut expedita explicabo repellendus,
                        excepturi, veritatis aliquid asperiores enim exercitationem quis debitis.</p>
                </div>
            </div>
        </div>

        <div class="col  p-4">
            <div class="card" style="width: 100%;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf2onYOzwBI0UJhT_O94Wg0esj9_GndDfi-g&s"
                    class="card-img-top" style="height: 350px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alfarm</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, corporis
                        sunt? Magnam quisquam eveniet quod ex nesciunt sapiente ut expedita explicabo repellendus,
                        excepturi, veritatis aliquid asperiores enim exercitationem quis debitis.</p>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="">
    <div class="d-flex justify-content-center align-items-center flex-column "
        style="background-image: url('https://t4.ftcdn.net/jpg/04/76/57/27/360_F_476572792_zMwqHpmGal1fzh0tDJ3onkLo88IjgNbL.jpg'); background-repeat: no-repeat; background-size: cover; height: 400px; ">
        <div class="explore px-5 py-2">
            <h1>50+ veriety Foof Spot </h1>
            <p>just check and go down to leave</p>
        </div>
    </div>
</div>

<div class="my-2 row " style="height: 400px;">


    <div class=" col d-flex justify-content-center align-items-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7cDenJxJECrEs_tf7Q_egOsRFU0VOIFzlLw&s" class=" rounded-5" style="height: 100px;" alt="">

    </div>
    <div class="col d-flex justify-content-center align-items-center flex-column">
        <h1>Download App</h1>
        <p>click on the given below and download</p>
        <a href="">
            <i class="fa-solid fa-download fa-bounce fa-2xl" style="color: #63E6BE;"></i>
        </a>
    </div>

</div>